.icon {
  width: 160px;
  height: 160px;
}

.info,
.dialog {
  padding: 10px;
}

.dialog {
  margin-left: 10px;
}

body {
  background-color: #fefefe;
}

.account {
  background-color: lightgray;
  border-radius: 5px;
}
