<div class="main">
    <div class="container-fluid">
        <div class="block" *ngFor="let blog of userBlogs">
            <div class="card post">
                <img [src]="blog.image" class="card-img-top " alt="...">
                <div class="card-body">
                    <p class="text-info">{{ blog.date | date: short }} {{ blog.author }}</p>
                    <h4 class="card-title">{{ blog.title }}</h4>
                    <p class="card-text">{{ blog.text }}</p>
                    <a [routerLink]="[ '/blog', blog.id ]" class="btn btn-primary">Go details</a>
                </div>
            </div>
        </div>
    </div>
</div>